
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
   
}

@section scripts{
    <script>
        $(function () {
            var basePath = "https://localhost:44313/";
            $("#btnLogin").on("click", function () {
                let login = $("#login").val().trim();
                let password = $("#password").val().trim();
                if (login !== "" && password !== "") {
                    var data = new FormData();
                    data.append("Login", login);
                    data.append("Password", password);
                    var settings = {
                        type: "POST",
                        url: basePath + "api/User/ValidateUser",
                        contentType: false,
                        processData: false,
                        data: data,
                        crossDomain: true,
                        success: function (response) {
                            if (!response.success) {
                                $("#password").val("");
                                 $("#error").text("Incorrect login or password!");
                                    setTimeout(() => {
                                        const elem = $("#error").text("");
                                     }, 2000);
                                    return false;
                            }
                            else {
                               
                                var tdata = new FormData();
                                tdata.append("token", response.token.data);
                                tdata.append("id", response.user.id);
                                tdata.append("name", response.user.name);
                                tdata.append("login", response.user.login);
                                tdata.append("password", response.user.password);
                                var tsettings = {
                                     type: "POST",
                                    url: "@Url.Content("~/User/ValidateUser")",
                                    contentType: false,
                                    processData: false,
                                    data: tdata,
                                    success: function (response) {
                                        if (response.success) {
                                            window.location.href="@Url.Content("~/User/Home")";
                                        }
                                        else {
                                            console.log("error");
                                        }
                                    },
                                    error: function (error) {
                                        console.log(error);
                                    }
                                };
                                $.ajax(tsettings);
                            }
                        },
                        error: function (error) {
                           console.log(error);
                        }
                    };

                    $.ajax(settings);
                }
                else {
                    $("#error").text("Fields are empty!");
                    setTimeout(() => {
                        const elem = $("#error").text("");
                     }, 2000);
                    return false;
                }
              
            });

        });
    </script>
}

@section heading{
    <h2 class="active"> Log In </h2>
}

@section fields{
    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login ID" />
    <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" />
    <input type="submit" class="fadeIn fourth" value="Log In" id="btnLogin" />
    <div style="color:red" id="error"></div>
}

@section footer{

    <a class="underlineHover" href="@Url.Content("~/User/SignUp")">Don't have an account?</a>
}
